@media screen and (min-width: 900px) {
  .gridcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
}

@media screen and (max-width: 900px) {
}

@media screen and (min-width: 1200px) {
}

.homelink {
  margin-bottom: 20px;
  color: grey;
  background-color: rgb(229, 228, 226);
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 20px;
}

.product {
  display: flex;
  margin-top: 30px;
}

.productimage {
  background-color: rgb(210, 207, 203);
  /* height: 400px; */
  width: 45%;
  margin-right: 20px;
}

.details {
  display: flex;
  width: 55%;
}
.review {
  color: grey;
  padding: 10px 5px;
  border-bottom: 1px solid grey;
}

.productprice {
  color: grey;
  padding: 10px 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
}

.productdescription {
  width: 60%;
  margin-right: 20px;
}

.description {
  color: grey;
  padding-right: 5px;
  padding-left: 5px;
}
.paragraph {
  font-size: 16px;
  color: grey;
}
.title {
  color: grey;
  padding: 20px 5px;
  border-bottom: 1px solid grey;
}

.cart {
  width: 40%;
}

.price {
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  border-bottom: none;
  padding: 13px;
}

.status {
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  border-bottom: none;
  padding: 13px;
}

.qty {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid grey;
  border-bottom: none;
  padding: 13px;
}

.dropdown {
  height: 40px;
  width: 50%;
  border-radius: 5px;
}

.button {
  background-color: gray;
  padding: 5px;
}

.buttoncontainer {
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border: 1px solid grey;
  padding: 13px;
}
